#div1 {
    background-color: fuchsia;
    height: 300px;
    font-size: 100px;
    padding-top: 150px;
    text-align: center;
    color: white;
}
#div2 {
    background-color: brown;
    height: 300px;
    
}
#div3 {
    background-color: blueviolet;
    height: 300px;
   
}
#div4 {
    background-color: blue;
    height: 300px;
   
}